{% load i18n %}

<div id="form-wrapper">
    {% include "_inner_message.html" %}
    <form action="" method="POST" id="form-base">
        {% csrf_token %}
        <table class="table table-hover table-striped">
            <tr>
                <td {% if medical_tab == 'fmh' %}class="medical-active"{% endif %}><a class="medical-link" href="{% url 'medical_history' patient_id %}">Family Medical History</a></td>
                <td>
                </td>
            </tr>
            <tr>
                <td {% if medical_tab == 'pah' %}class="medical-active"{% endif %}><a class="medical-link" href="{% url 'past_medical_history' patient_id %}">Past Medical History</a></td>
                <td>
                </td>
            </tr>
            <tr>
                <td {% if medical_tab == 'meh' %}class="medical-active"{% endif %}><a class="medical-link" href="{% url 'menstrual_history' patient_id %}">Menstrual History</a></td>
                <td>
                </td>
            </tr>
            <tr>
                <td {% if medical_tab == 'obh' %}class="medical-active"{% endif %}>Obstetric History</td>
                <td>
                    <table class="table table-normal">
                        {% for f in form %}
                            <tr>
                                <td><label for="id_{{ f.name }}">{{ f.label }}</label></td>
                                <td>{{ f }}
                                    <div class="control-group{% if f.errors %} error{% endif %}">
                                        {% if f.errors %}
                                            <span class="help-inline">{{ f.errors }}</span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td class="text-center">
                                <button type="submit" class="btn btn-inverse">{% trans "Save" %} &nbsp;<i class="icon-ok icon-white"></i></button>
                            </td>
                        </tr>
                    </table>
                    <b>List of previous obstetric history</b>
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th>No.</th>
                            <th>Name of baby</th>
                            <th>DOB</th>
                            <th>Types of Delivery</th>
                            <th>Birth Weight</th>
                            <th>Sex</th>
                            <th>Periods of Exclusive Feeding</th>
                            <th>Length of Pregnancy</th>
                            <th>Maternal Complication</th>
                            <th>Obstertrical Operation</th>
                            <th>Perinatal Complication</th>
                        </tr>
                        {% for p in prev_obs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ p.name_of_baby }}</td>
                                <td>{{ p.dob }}</td>
                                <td>{{ p.get_types_of_delivery_display }}</td>
                                <td>{{ p.birth_weight }}</td>
                                <td>{{ p.get_sex_display }}</td>
                                <td>{{ p.periods_of_exclusive_feeding }}</td>
                                <td>{{ p.length_of_pregnancy }}</td>
                                <td>{{ p.get_maternal_complication_display }}</td>
                                <td>{{ p.get_obstetrical_operation_display }}</td>
                                <td>{{ p.get_perinatal_complication_display }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="10"></td>
                            <td class="text-center">
                                <button type="button" class="btn btn-primary" id="add-obstetric">{% trans "Add" %} &nbsp;&nbsp;&nbsp;<i class="icon-play icon-white"></i></button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td {% if medical_tab == 'prh' %}class="medical-active"{% endif %}><a class="medical-link" href="{% url 'present_medical_history' patient_id %}">Present Medical History</a></td>
                <td>
                </td>
            </tr>
            <tr>
                <td {% if medical_tab == 'gyh' %}class="medical-active"{% endif %}><a class="medical-link" href="{% url 'gynaecological_history' patient_id %}">Gynaecological History</a></td>
                <td></td>
            </tr>
            <tr>
                <td {% if medical_tab == 'imh' %}class="medical-active"{% endif %}><a class="medical-link" href="{% url 'immunization_history' patient_id %}">Immunization History</a></td>
                <td></td>
            </tr>
        </table>
    </form>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simple-dtpicker.js"></script>
    <script type="text/javascript">
        $('#form-base').submit(function(e) {
            e.preventDefault();
            $.post("{% url 'obstetric_history' patient_id %}", $("#form-base").serialize(), function(data) {
                $('#form-wrapper').html(data);
            });
        });
        $('*[class=datepicker]').appendDtpicker({"closeOnSelected": true, "dateOnly": true});
        $('.medical-link').click(function(e){
            e.preventDefault();
            $('#form-wrapper').load(this.getAttribute('href'));
        });
        $('#add-obstetric').click(function(e) {
            e.preventDefault();
            $('#form-wrapper').load('{% url "obstetric_add" patient_id %}');
        });
    </script>
</div>


