{% load i18n %}

<div id="form-wrapper">
    {% include "_inner_message.html" %}
    <form action="" method="POST" id="form-base">
        {% csrf_token %}
        <table class="table table-hover table-normal">
            {% for f in form %}
                {% include '_table_horizontal_field.html' with field=f %}
            {% endfor %}
            <tr>
                <td></td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary" id="back-routine"><i class="icon-step-backward icon-white"></i> &nbsp;&nbsp;&nbsp;{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-inverse">{% trans "Save" %} &nbsp;<i class="icon-ok icon-white"></i></button>
                </td>
            </tr>
        </table>
    </form>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simple-dtpicker.js"></script>
    <script type="text/javascript">
        $('#form-base').submit(function(e) {
            e.preventDefault();
            {% if routine_id %}
            $.post("{% url 'routine_checkup_view' patient_id routine_id %}", $("#form-base").serialize(), function(data) {
                $('#form-wrapper').html(data);
            });
            {% else %}
            $.post("{% url 'routine_checkup_add' patient_id %}", $("#form-base").serialize(), function(data) {
                $('#form-wrapper').html(data);
            });
            {% endif %}
        });
        $('#back-routine').click(function(e) {
            e.preventDefault();
            $('#form-wrapper').load('{% url "routine_checkup" patient_id %}');
        });
        $(function(){
            $('*[class=datepicker]').appendDtpicker({"closeOnSelected": true, "dateOnly": true});
        });
    </script>
</div>


