
form{
    margin: 0;
}

fieldset {
    color:#000;
    padding: 0;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    min-height: 20px;
    overflow: hidden;
    text-align: left;
    z-index:0;
    width: 100%;
}

fieldset > legend {
	position: static;
	z-index:0;
    text-align: left;
    color: #000;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

fieldset > span, fieldset > div {
    margin: 1em;
}

fieldset > span, fieldset > div > span {
    display: block;
    float: left;
    text-align:left;
}

fieldset > span, fieldset > div > span {
    margin-right: 1em;
}

fieldset > legend, fieldset label {
    font-weight: bold;
    padding: 1em;
}

fieldset label > label {
    font-weight: normal;
}

fieldset ul, fieldset ol {
    margin-top: 0;
    margin-bottom: 0;
}

fieldset label > span, fieldset label > div, fieldset label > p, fieldset label {
    font-weight: normal;
}

form .info {
    font-size: 0.8em;
}

textarea, select {
    margin: 0;
    vertical-align: top;
    font: .9em "Tahoma", Verdana, Helvetica, sans-serif;
}

.relatedcheckboxes, .relatedselects {
    margin: 0;
}

.relatedcheckboxes > label > label {
    font-size: 0.5em;
    width: 17em;
    display: block;
    float: left;
}

input ,[type=text],[type=password], textarea, select {
    border: 1px solid silver;
}

form .actions {
    text-align: right;
}

form fieldset legend {
    background: #F6F6F6;
    border: none;
    position: relative;
    padding: 0.5em;
    border-bottom: 0.01em solid #DFEFEF;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

form fieldset {
    overflow: hidden;
    background: #F6F6F6;
    border: none;
}

form .frmbtn {
    color:#fff;
    font-size:small;
    font-weight:bold;
    background: #333;
    padding: 0.4em;
    border: 1px solid #bbb;
}

form .frmbtn:hover {
    border: 1px solid #ffc;
}

form #txtsrch{
    width:280px;
}

form .log{
    width:180px;
}

#lang_select {
	background: none;
}

/* end of form formats */