

div.ui-datepicker{
    font-size:12px;
}
/*
html body ul.ui-autocomplete li.ui-menu-item a.ui-corner-all{
    font-size:12px;
}
*/
.dialog {
	padding:5px;
    border-radius:5px;
    border: 1px solid #ccc;
/*     min-height: 100px; */
    margin:5px;
}

.min {
    min-height: 200px;
}

.max {
    max-height: 200px;
}

*.column { text-align:left; float:left; }

*.column_r { text-align:left; float:right; }

.stretch { width: 100%; }

.prop {
    padding: 8px;
    background-color: #eee;
}

.prop .name {
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
    background-color: #eee;
    padding-left: 0.3em;
}

.prop .header {
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    background-color: #ddd;
}

.prop .value {
    text-align: left;
    background-color: #eee;
}

.key {
    font-weight: bold;
    font-size:12px;
    padding: 3px;
    margin: 3px;
    margin-left: 14px;
    display: block;
}

.skey {
    font-weight: bold;
    font-size:14px;
    background-color: #bbe;
    border: 1px solid #44a;
    border-radius: 6px;
    padding: 3px;
    padding-left: 17px;
    margin: 3px;
    margin-left: 14px;
    display: block;
}

.chain {
    font-weight: bold;
    font-size:12px;
    margin-left: 14px;
    display: block;
}

.schain {
    font-size:14px;
    background-color: #4ae;
    border: 1px solid #28e;
    border-radius: 6px;
    padding: 3px;
    padding-left: 14px;
    margin: 3px;
}

a.key:link {
    text-decoration: none;
}

.LMenu {
    font-weight: bold;
    font-size:14px;
}

input:required:invalid, input:focus:invalid { 
  background-image: url(images/invalid.png); 
  background-position: right top; 
  background-repeat: no-repeat; 
} 

input:required:valid {
  background-image: url(images/valid.png); 
  background-position: right top; 
  background-repeat: no-repeat; 
}

input, select, textarea {
    background: #fff;
    margin:0;
    padding:0;
}


p.center {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#content {
	margin: 0 auto;
	text-align:center;
	width: 1024px;
}

#contenttop {
	text-align:center;
	float: left;
	padding-top: 10px;
    padding-left: 12px;
}

#rightbuttons {
	float:right;
	height: 40px;
	padding: 10px;
	text-align: center;
}

#comm-error {
	border-radius: 12px;
	border: 1px solid #ccc;
	background-color: #fdd;
	padding: 6px;
	font-size: small;
	box-shadow: 1px 1px 2px #444; 
}

#search {
	min-width: 480px;
	height: 100%;
	width: auto;
	font-size: smaller;
}

.info, .success {
	font-weight: bold;
    background: #F3F8FC;
    border: 1px solid #B2D1FF;
    border-radius: 5px;
    color: #006DBA;
    padding:5px;
    font-size: 1em;
}

.warning {
	font-weight: bold;
    background: #FCFCB0;
    border: 1px solid #FFFF40;
    border-radius: 5px;
    color: #BABA20;
    padding:5px;
    font-size: 1em;
}

.error {
	font-weight: bold;
    background: #FCC0B0;
    border: 1px solid #FF4020;
    border-radius: 5px;
    color: #BA2000;
    padding:5px;
    font-size: 1em;
}

.errorlist {
    background: #FCC0B0;
    border: 1px solid #FF4020;
    border-radius: 5px;
    color: #BA2000;
    padding: 5px 5px 5px 30px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #444;
    font-size: 12px;
}

#rvm {
	min-width: 480px;
	padding: 6px;
	height: 100%;
	width: auto;
}

#lidl {
  min-width: 480px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: #ccf;
  padding: 6px;
  height: 100%;
  width: 100%;
  
  box-shadow: 1px 1px 2px #444; 
  
  font-size: 12px;
}

#login {
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #dde;
    padding: 6px;


    box-shadow: 1px 1px 2px #444; 

    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.tabs {
    /*font-size: 12px;*/
    font-weight: bold;
    text-shadow: 0 1px 0 #EEEEEE;
    padding:9px;
    text-align: left;
}

.tab {
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
    
    border-radius: 6px 6px 0 0;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    padding: 4px 12px;
}

.tab_a {
    background: #DCF0F9; /* Old browsers */
    background: -moz-linear-gradient(top, #DCF0F9 0%, #CEE4EE 50%, #C0D4E3 51%, #DCEBF9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DCF0F9), color-stop(50%,#CEE4EE), color-stop(51%,#C0D4E3), color-stop(100%,#DCEBF9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DCF0F9 0%,#CEE4EE 50%,#C0D4E3 51%,#DCEBF9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DCF0F9 0%,#CEE4EE 50%,#C0D4E3 51%,#DCEBF9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #DCF0F9 0%,#CEE4EE 50%,#C0D4E3 51%,#DCEBF9 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCF0F9', endColorstr='#DCEBF9',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #DCF0F9 0%,#CEE4EE 50%,#C0D4E3 51%,#DCEBF9 100%); /* W3C */
    border-radius: 6px 6px 0 0;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    padding: 7px 12px 4px;
    box-shadow: 0px -1px 2px #444;
    font-weight: bold;
}

.tab_red {
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f8f6 0%, #eeebe5 50%, #e3ded7 51%, #f9f7f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8f6), color-stop(50%,#eeebe5), color-stop(51%,#e3ded7), color-stop(100%,#f9f7f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f8f6 0%,#eeebe5 50%,#e3ded7 51%,#f9f7f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f8f6 0%,#eeebe5 50%,#e3ded7 51%,#f9f7f5 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f9f8f6 0%,#eeebe5 50%,#e3ded7 51%,#f9f7f5 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f6', endColorstr='#f9f7f5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f9f8f6 0%,#eeebe5 50%,#e3ded7 51%,#f9f7f5 100%); /* W3C */
    border-radius: 6px 6px 0 0;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    padding: 4px 12px;
}

.tab_red_a {
    background: #DCF0F9; /* Old browsers */
    background: -moz-linear-gradient(top, #DCF0F9 0%, #CEE4EE 50%, #C0D4E3 51%, #DCEBF9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DCF0F9), color-stop(50%,#CEE4EE), color-stop(51%,#C0D4E3), color-stop(100%,#DCEBF9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DCF0F9 0%,#CEE4EE 50%,#C0D4E3 51%,#DCEBF9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DCF0F9 0%,#CEE4EE 50%,#C0D4E3 51%,#DCEBF9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #DCF0F9 0%,#CEE4EE 50%,#C0D4E3 51%,#DCEBF9 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCF0F9', endColorstr='#DCEBF9',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #DCF0F9 0%,#CEE4EE 50%,#C0D4E3 51%,#DCEBF9 100%); /* W3C */
    
    border-radius: 6px 6px 0 0;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    padding: 7px 12px 4px;
    
    box-shadow: 0px -1px 2px #444;
    
    font-weight: bold;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}

.table tr td {
	padding: 5px;
}

.table2 {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  white-space:nowrap;
}

th {
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */	
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px 6px;
    text-align: center;
}

tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#fff; }

.grey { color: #555; }

.machine_name { font-size: 12px; }

.no_background { background: none; }
.prop .head {
  border: 0px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
  height: 20px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
}

.prop .v {
    vertical-align: middle;
    border: 0px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    margin: 2px 4px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.prop .value_c {
  text-align: center;
  vertical-align: middle;
  border: 0px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 10px;
  margin: 2px 4px;
}

.prop .value_l {
    text-align: left;
    vertical-align: middle;
    border: 0px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    margin: 2px 4px;
}

.bottle_even {
    background: #fcc;
}

.bottle_odd {
    background: #dbb;
}

.crate_even {
    background: #ccf;
}

.crate_odd {
    background: #bbd;
}

.system_even {
    background: #cfc;
}


.system_odd {
    background: #bdb;
}

.bold {
    font-weight: bold;
}

.disabled {
    color: #777;
    font-style:italic;
}

.error_even, .open_even {
    background: #F88;
}

.error_odd, .open_odd {
    background: #D99;
}

.unknown_even, .progress_even {
    background: #FF8;
}

.unknown_odd, .progress_odd {
    background: #DD9;
}

.ok_even {
    background: #8F8;
}

.ok_odd {
    background: #9D9;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px; /* half width of the spinner gif */
    margin-top: 16px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 50px; /* width of the spinner gif */
    height: 50px; /*hight of the spinner gif */
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.button {
	color: #fff;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: url("images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #0078AE;
    border: 1px solid #77D5F7;
    color: #FFFFFF;
    font-weight: normal;
    outline: 0;
	margin:0 4px 0 0;
	padding: .4em 1em;
	text-decoration:none !important; 
	cursor:pointer;
	position: relative;
	text-align: center; 
	zoom: 1;
}

#rightbuttons .button {
	color: #fff;
}

.button:hover {
	background: url("images/ui-bg_glass_75_79c9ec_1x400.png") repeat-x scroll 50% 50% #79C9EC;
    border: 1px solid #448DAE;
    color: #026890;
    font-weight: normal;
}

table tr {
	height: 24px;
}

.fg-button {
	color: #fff;
	outline: 0; 
	margin:0 4px 0 0; 
	padding: .4em 1em; 
	text-decoration:none !important; 
	cursor:pointer; 
	position: relative; 
	text-align: center; 
	zoom: 1;
}


.fg-button:hover {
	background: url("images/ui-bg_glass_75_79c9ec_1x400.png") repeat-x scroll 50% 50% #79C9EC;
    border: 1px solid #448DAE;
    color: #026890;
    font-weight: normal;
}

html body div nav {
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
    
    border-radius: 6px;
    border: 1px solid #ccc;
    
    box-shadow: 3px 3px 4px #444; 
      
    width:100%;
    
    color: #2A2B2B;
    display: list-item;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 32px 9px 10px;
    text-shadow: 0 1px 0 #EEEEEE;
}

.nav_panel {
    background-color: #EDEDED;
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: 1px solid #D1D1D1;
    color: #2A2B2B;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 32px 8px 10px;
    text-shadow: 0 1px 0 #EEEEEE;
    text-align: left;
    
    
}

.search_panel {
    background-color: #EDEDED;
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: 1px solid #D1D1D1;
}

.nav_panel_old {
	width: 100%;
	text-align: left;
	height:30px;
	text-decoration: none;
	position: inherit;
}

.nav_panel a {
	text-decoration: none;
	padding-right: 12px;
	margin-top:12px;
}

.nav_panel a:hover {
	text-decoration: none;
}

span.nav {
    background: url("./images/divider.png") no-repeat; 
    background-position: right 0px;
    padding: 8px 12px;
}

html body div nav a {
	margin-right: 24px;
}

html body div nav a:link, a:visited {
/*     color: #2A2B2B;   */
    text-decoration: none;
}

html body div nav a:hover {
    color: #953100;
    text-decoration: none;
}

/*
a.tab:link, a.tab:visited, a.tab_a:link, a.tab_a:visited, a.nav:link, a.nav:visited{
    color: #2A2B2B;
    text-decoration: none;
}

a.tab:hover, a.tab_a:hover, a.nav:hover {
    color: #953100;
    text-decoration: none;
}

a:link, a:visited {
    color: #000;
    text-decoration: underline;
}
*/


a:hover {
    color: #953100;
    text-decoration: underline;
}

.call {
    cursor:pointer;
}

.call:hover {
    color: #953100;
    background-color: #DDFFDD;
}

a.call {
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 100%;
}

.btn:hover {
	cursor: pointer;
}

.notd {
    text-decoration: none;
}

.imgl {
    float:left;
}

span.deleteicon {
    position: relative;
}

span.deleteicon span {
    position: absolute;
    display: block;
    top: -1px;
    right: 4px;
    width: 16px;
    height: 16px;
    background: url('images/clear.png') 0 -690px;
    cursor: pointer;
}
span.deleteicon input {
    padding-right: 16px;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    padding: 2px;
}
