{% if messages %}
    <section id="messages">
        <div class="container">
            <div class="row">
                <div class="span11">
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}error{% endif %}">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
